extends page

block head 
    title Koszyk - Kuchnia Świata

block navbar
    li.nav-item
        a.nav-link(href="/") Strona główna
    li.nav-item
        a.nav-link(href="/menu") Menu
    li.nav-item 
        a.nav-link(href="/cart").active Koszyk
    li.nav-item 
        a.nav-link(href="/archive") Archiwum aktualności

block content
    .text-center.title.bg-dark.bg-gradient.text-body-emphasis
        h3 Koszyk
    if data.length == 0
        .text-center.p-5
            h5.text-body-emphasis Twój koszyk jest pusty
            p.text-body-secondary Przejdź do menu i dodaj coś do zamówienia!
    else
        form(action="")
            .container.p-5.rounded.border
                .row
                    .col-12
                        table.table.table-striped.border.rounded
                            thead
                                tr
                                    th(scope="col") Nazwa
                                    th(scope="col") Cena
                                    th(scope="col") Usuń
                            tbody
                                each item in data
                                    tr
                                        td #{item.name}
                                        td #{item.price} zł
                                        td
                                            button.btn.btn-danger(name="delete" value=item.id) Usuń
                        p Twoja cena: #{data.reduce((acc, item) => acc + item.price, 0)} zł
                        .input-group.my-3
                            input(type="text", name="address", placeholder="Adres dostawy").form-control
                        button.btn.btn-primary(type="submit", name="order") Zamów   
                        if data.noaddress
                            p.text-danger.m-2 Nie podano adresu dostawy